        <div class="row">
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round round-lg text-white d-flex align-items-center justify-content-center rounded-circle bg-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card fill-white feather-lg"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>
                            </div>
                            <div class="ms-2 align-self-center">
                                <h3 class="mb-0">$30249</h3>
                                <h6 class="text-muted mb-0">今日業績123</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round round-lg text-white d-flex align-items-center justify-content-center rounded-circle bg-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor fill-white feather-lg"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
                            </div>
                            <div class="ms-2 align-self-center">
                                <h3 class="mb-0">$12000</h3>
                                <h6 class="text-muted mb-0">今日支出</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round round-lg text-white d-flex align-items-center justify-content-center rounded-circle bg-primary">
                                <i class="mdi mdi-odnoklassniki"></i>
                            </div>
                            <div class="ms-2 align-self-center">
                                <h3 class="mb-0">$10100</h3>
                                <h6 class="text-muted mb-0">Jay</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round round-lg text-white d-flex align-items-center justify-content-center rounded-circle bg-primary">
                                <i class="mdi mdi-odnoklassniki"></i>
                            </div>
                            <div class="ms-2 align-self-center">
                                <h3 class="mb-0">$10000</h3>
                                <h6 class="text-muted mb-0">hao</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round round-lg text-white d-flex justify-content-center align-items-center rounded-circle bg-primary">
                                <i class="mdi mdi-odnoklassniki"></i>
                            </div>
                            <div class="ms-2 align-self-center">
                                <h3 class="mb-0">$10149</h3>
                                <h6 class="text-muted mb-0">Lin</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="d-md-flex no-block">
                            <h4 class="card-title">今日維修項目</h4>
                        </div>
                        <div class="month-table">
                            <div class="table-responsive mt-3">
                                <table class="table stylish-table v-middle mb-0 no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-0 text-muted fw-normal">項次</th>
                                            <th class="border-0 text-muted fw-normal">車款</th>
                                            <th class="border-0 text-muted fw-normal">車號</th>
                                            <th class="border-0 text-muted fw-normal">姓名</th>
                                            <th class="border-0 text-muted fw-normal">目前公里數</th>
                                            <th class="border-0 text-muted fw-normal">金額</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <td>GSR-125</td>
                                            <td>NYD-888</td>
                                            <td>張三</td>
                                            <td>15210</td>
                                            <td>200</td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>GSX-R150</td>
                                            <td>NYD-333</td>
                                            <td>小五</td>
                                            <td>85420</td>
                                            <td>4800</td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>GSX-S150</td>
                                            <td>NYD-555</td>
                                            <td>李四</td>
                                            <td>25400</td>
                                            <td>6400</td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>SUI 125</td>
                                            <td>NYD-666</td>
                                            <td>小張</td>
                                            <td>1025</td>
                                            <td>450</td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td>Saluto 125</td>
                                            <td>NYD-777</td>
                                            <td>小明</td>
                                            <td>35010</td>
                                            <td>6000</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
