@model LinkedList<prjRGsystem.Models.DbModels.SysTasks>

@if (Model != null && Model.Count > 0)
{
    @foreach (prjRGsystem.Models.DbModels.SysTasks Task in Model)
    {
        string urlString = "";
        string areaName = Task.areaName;
        string controllerName = Task.controllerName;
        string actionName = (string.IsNullOrEmpty(Task.actionName)) ? "" : Task.actionName;
        bool hasChild = (Task.childSysTask != null && Task.childSysTask.Count > 0);
        if (areaName == "#") { urlString = "javascript:void(0)"; }
        else
        {
            urlString = "~/" + System.IO.Path.Combine(areaName, controllerName, actionName).Replace("\\", "/");
        }
        string aClass = hasChild ? " has-arrow" : "";

        <li class="sidebar-item">
            <a href="@Url.Content(urlString)" class="sidebar-link @aClass">
                <i class="mdi mdi-border-vertical"></i>
                <span class="hide-menu">@Task.taskName</span>
            </a>

            @if (hasChild)
            {
                <ul aria-expanded="false" class="collapse second-level">
                    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_MenuPartial.cshtml", Task.childSysTask)
                </ul>
            }
        </li>

    }
}