
<div class="error-box" style="background:url('/assets/images/background/error-bg.jpg')">
    <div class="error-body text-center">
        <h1 class="error-title">404</h1>
        <h3 class="text-uppercase error-subtitle">INTERNAL SERVER ERROR !</h3>
        <p class="text-muted mt-4 mb-4">PLEASE TRY AFTER SOME TIME</p>
        <button onclick="location.href='@Url.Action("Index","Home",new{Area="Admin"})'" class="btn btn-danger btn-rounded waves-effect waves-light mb-5">回首頁</button>
        <button onclick="history.back()" class="btn btn-info btn-rounded waves-effect waves-light mb-5">回上頁</button>
    </div>
</div>